.JClic {
  background-color: blue;
  width: 700px;
  height: 600px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.JClicPlayerCnt {
  flex-grow: 1;
  position: relative;
  background-color: lightblue;
  margin: 10px;  
}

.JClicPlayerCnt > div {
  position: absolute;
  width: 100%;
  height: 100%;
}

.JClicCtrlCnt {
  background-color: yellow;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  padding: 3px;
}

.JClicCtrlCnt > div {
  margin: 3px;
  background-color: gold;
  padding: 5px;
}

.JClicCountCnt {
  display: flex;
  flex-direction: column;
}

.JClicMsgBox {
  flex-grow: 1;
  height: 50px;
}

.dlgOverlay {
  z-index: 98;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color:rgba(30,30,30,0.7);
}

.progressAnim {
  z-index: 99;
  xdisplay: none;
  background-image: url(animatedSpin.svg);
  background-color:rgba(255, 255, 255, 0.6);
  background-size: 20%;
  background-position: center center;
  background-repeat: no-repeat;
}