.ID .JClicCtrlCnt {
  margin: 0 9px 18px 9px;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ID .JClicCountCnt {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

.ID .JClicMsgBox {
  height: 60px;
  flex-grow: 1;
  background-color: lightblue;
}

.ID .JClicBtn {
  cursor: pointer;
  line-height: 0;
}

.ID .JClicBtn:disabled {
  cursor: inherit;
  opacity: 0.3;
}

.ID .JClicCounter {
  width: 40px;
  height: 20px;
  padding-left: 20px;
  color: white;
  cursor: pointer;
  font-family: Roboto, Sans-serif;
  font-size: 18px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: left;
  box-sizing: content-box;
}
