# Back, tmp and log files #
*.bak
*~
*.tmp
*.log

# Build, dist and doc directories #
/build/
/doc/
/docco/
/groc/
/dist/

# Node.js modules (rebuild them with "npm install")
/node_modules/
/bower_components/

# Local netbeans config files #
/nbproject/private/
/deploy/

# Exclude all test suites except 'jclic-demo'
/test/*/
!/test/jclic-demo/
# Include also 'test/lib', needed for debug.js
!/test/lib/

