# Back, tmp and log files #
*.bak
*~
*.tmp
*.log

# Build, dist and doc directories #
/build/
/doc/
/groc/
/dist/

# Node.js modules (rebuild them with "npm install")
/node_modules/
/bower_components/

# Local netbeans config files #
/nbproject/private/
/deploy/
