html,
body {
  font: 1em "jaf-bernino-sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  background-color: #fff;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
#wrap {
  position: relative;
}
::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 4px;
}
.navigation {
  position: fixed;
  float: left;
  width: 275px;
  height: 100%;
  background-color: #343f4c;
  font-family: Helvetica;
  font-weight: 200;
}
.navigation .header {
  position: relative;
  background-color: #222c39;
  padding: 0 20px;
}
.navigation .header .logo {
  position: absolute;
  top: 12px;
  width: 30px;
  height: 30px;
}
.navigation .header .applicationName {
  margin: 0;
  padding: 15px 15px 15px 42px;
  font: 22px Helvetica;
  color: #fff;
}
.navigation .header .applicationName a {
  color: #fff;
}
.navigation .search {
  padding: 10px 15px;
}
.navigation .search input {
  background-color: #222c39;
  color: #fff;
  border: none;
  border-radius: 45px;
  height: 40px;
  font-size: 18px;
  font-weight: 200;
  padding: 0 26px;
}
.navigation .list {
  padding: 10px 0 0 0;
  position: relative;
  overflow: auto;
  width: 100%;
  font-weight: 200;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.navigation li.item {
  position: relative;
  padding: 40px 15px 0 20px;
  margin-bottom: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #333;
  overflow: hidden;
}
.navigation li.item a {
  color: #e8e8e8;
}
.navigation li.item a:hover {
  color: #fff;
}
.navigation li.item .title {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  font-size: 18px;
  line-height: 40px;
  color: #e8e8e8;
  padding-left: 14px;
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.navigation li.item .title a {
  color: #e1e1e1;
}
.navigation li.item .title a:hover {
  color: #fff;
}
.navigation li.item .title .static {
  font-family: Helvetica;
  font-weight: 200;
  font-size: 12px;
  padding: 2px 8px;
  border-radius: 45px;
  height: 21px;
  line-height: 18px;
  display: block;
  background-color: #7ca828;
  color: #ffffff;
  float: right;
  right: 18px;
  top: 10px;
  position: relative;
}
.navigation li.item .subtitle {
  margin-top: 10px;
  font: 400 16px Helvetica;
  color: #0087e5;
  display: block;
}
.navigation li.item ul {
  font-size: 14px;
}
.navigation li.item ul > li {
  position: relative;
  margin-left: 8px;
  padding-left: 15px;
  margin-top: 2px;
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.navigation li.item ul > li:before {
  content: '';
  position: absolute;
  left: 0;
  top: -1px;
  bottom: -1px;
  border-left: 1px solid #656c75;
}
.navigation li.item ul > li.selected:after {
  content: '';
  position: absolute;
  left: -6px;
  top: 2px;
  background-color: #edcf07;
  width: 13px;
  height: 13px;
  border-radius: 45px;
}
.navigation li.item ul > span {
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.navigation li.item .itemMembers {
  display: none;
}
.navigation li.item.selected {
  background-color: #222c39;
}
.navigation li.item.selected:after {
  content: '';
  position: absolute;
  right: -23px;
  top: 6px;
  background-color: #ffffff;
  width: 28px;
  height: 28px;
  transform: rotate(45deg);
}
.navigation li.item.selected .title {
  background-color: #1193ef;
  border-left: 6px solid #0a6eb5;
}
.main {
  padding: 20px 20px;
  margin-left: 275px;
}
.main .page-title {
  display: none;
}
.main h1 {
  font-weight: bold;
  font-size: 1.6em;
  margin: 0;
}
.main h2 {
  font-weight: bold;
  font-size: 1.5em;
  margin: 0;
}
.main h3 {
  font-weight: bold;
  font-size: 12px;
  margin: 5px 0;
}
.main h4 {
  font-weight: bold;
  font-size: 1em;
}
.main h5 {
  font-weight: bold;
  font-size: 12px;
}
.main dd {
  font-size: 12px;
}
.main dd .expandable-toggle {
  width: 100%;
  text-align: center;
  padding: 0 10px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.main dd .expandable-toggle i {
  line-height: 25px;
  font-size: 28px;
  color: #999;
  width: 50%;
  cursor: pointer;
}
.main dd .expandable-toggle i:before {
  content: '\f106';
}
.main dd .expandable {
  overflow: hidden;
}
.main dd.folded .expandable {
  max-height: 0;
}
.main dd.folded .expandable-toggle i:before {
  content: '\f107';
}
.main h4.name span.type-signature {
  font-family: Helvetica;
  font-weight: 200;
  font-size: 12px;
  padding: 2px 8px;
  border-radius: 45px;
  height: 21px;
  line-height: 18px;
  display: inline-block;
  color: #fff;
}
.main h4.name span.type {
  margin-left: 5px;
}
.main h4.name span.glyphicon {
  display: inline-block;
  vertical-align: middle;
  color: #e1e1e1;
  margin-left: 7px;
}
.main h4.name span.returnType {
  margin-left: 3px;
  background-color: transparent!important;
  color: gray!important;
}
.main span.static {
  display: inline-block;
  border-radius: 3px;
  background-color: #737373 !important;
  color: #fff;
  font-size: 0.7em;
  padding: 2px 4px;
  margin-right: 8px;
}
.main span.number {
  background-color: gray!important;
}
.main span.string {
  background-color: gray!important;
}
.main span.object {
  background-color: #2a6496 !important;
}
.main span.array {
  background-color: #2a6496 !important;
}
.main span.boolean {
  background-color: #ee7d7d !important;
}
.main .subsection-title {
  font-size: 14px;
  margin-top: 30px;
  color: #737373;
}
.main .description {
  margin-top: 10px;
  font-size: 13px;
}
.main .description ul,
.main .description ol {
  margin-bottom: 15px;
}
.main .description p {
  font-size: 13px;
}
.main .description h2 {
  margin-top: 30px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #efefef;
}
.main .description pre {
  margin: 10px 0;
}
.main .tag-source {
  font-size: 12px;
}
.main dt.tag-source {
  margin-top: 5px;
}
.main dt.tag-todo {
  font-size: 10px;
  display: inline-block;
  background-color: #2a6496;
  color: #fff;
  padding: 2px 4px;
  border-radius: 5px;
}
.main .type-signature {
  font-size: 12px;
}
.main .tag-deprecated {
  display: inline-block;
  font-size: 10px;
}
.main .important {
  background-color: #ee7d7d;
  color: #fff;
  padding: 2px 4px;
  border-radius: 5px;
}
.main .nameContainer {
  position: relative;
  margin-top: 20px;
  padding-top: 5px;
  border-top: 1px solid #e1e1e1;
}
.main .nameContainer .inherited {
  font-family: Helvetica;
  font-weight: 200;
  font-size: 12px;
  padding: 2px 8px;
  border-radius: 45px;
  height: 21px;
  line-height: 18px;
  display: inline-block;
  background-color: #4b9990;
  margin-right: 5px;
}
.main .nameContainer .inherited a {
  color: #fff;
}
.main .nameContainer .tag-source {
  position: absolute;
  top: 17px;
  right: 0;
  font-size: 10px;
}
.main .nameContainer .tag-source a {
  color: gray;
}
.main .nameContainer h4 {
  margin-right: 150px;
  line-height: 1.3;
}
.main .nameContainer h4 .signature {
  font-size: 13px;
  font-weight: normal;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
.main .nameContainer h4 .type-signature.type a {
  color: #fff;
}
.main pre {
  font-size: 11px;
}
.main table {
  width: 100%;
  margin-bottom: 15px;
}
.main table th {
  padding: 3px 3px;
}
.main table td {
  vertical-align: top;
  padding: 5px 3px;
}
.main table .name {
  width: 110px;
}
.main table .type {
  width: 60px;
  color: #aaa;
  font-size: 11px;
}
.main table .attributes {
  width: 80px;
  color: #aaa;
  font-size: 11px;
}
.main table .description {
  font-size: 12px;
}
.main table .description p {
  margin: 0;
}
.main table .optional {
  float: left;
  border-radius: 3px;
  background-color: #ddd!important;
  font-size: 0.7em;
  padding: 2px 4px;
  margin-right: 5px;
  color: gray;
}
.main .readme p {
  margin-top: 15px;
  line-height: 1.2;
  font-size: 0.85em;
}
.main .readme h1 {
  font-size: 1.7em;
}
.main .readme h2 {
  margin-top: 30px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e1e1e1;
}
.main .readme li {
  font-size: 0.9em;
  margin-bottom: 10px;
}
.main article ol,
.main article ul {
  margin-left: 25px;
}
.main article ol > li {
  list-style-type: decimal;
  margin-bottom: 5px;
}
.main article ul > li {
  margin-bottom: 5px;
  list-style-type: disc;
}
footer {
  margin: 15px 0;
  padding-top: 15px;
  border-top: 1px solid #e1e1e1;
  font-family: "freight-text-pro", Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 0.8em;
  color: gray;
}
